<ul class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
    <li>
        {% embed '/templates/components/trabalho-card.html.twig' with {
            'videoSrc': 'projeto-ala-warp-perspective-2.mp4',
            'title': 'Retificação de Perspectiva - Warp Perspective',
        } only %}
            {% block summary %}
                <p>Projeto final da disciplina Algebra Linear Algoritma do curso de Ciência da Computação.</p>
                <p>Projeto consiste em transformar uma imagem que está "torta" e corrigir sua perspectiva através de coordenadas homogênias e funções afim.</p>
                <p>Trabalho foi desenvolvido com Python3.</p>
            {% endblock %}
        {% endembed %}
    </li>

    <li>
        {% embed '/templates/components/trabalho-card.html.twig' with {
            'videoSrc': 'unity3d-spaceship.mp4',
            'title': '3d Spaceship minijogo',
        } only %}
            {% block summary %}
                <p>Micro protótipo de um jogo de nave 3d desenvolvido com Unity como parte dos estudos do curso <a target="_blank" href="https://www.udemy.com/course/unitycourse2/" class="underline text-blue-600">Complete C# Unity Game Developer 3D</a>.</p>
            {% endblock %}
        {% endembed %}
    </li>

    <li>
        {% embed '/templates/components/trabalho-card.html.twig' with {
            'videoSrc': 'unity3d-tower-defense.mp4',
            'title': '3d TowerDefense minijogo',
        } only %}
            {% block summary %}
                <p>Micro protótipo de um jogo de Tower Defense 3d desenvolvido com Unity como parte dos estudos do curso <a target="_blank" href="https://www.udemy.com/course/unitycourse2/" class="underline text-blue-600">Complete C# Unity Game Developer 3D</a>.</p>
            {% endblock %}
        {% endembed %}
    </li>

    <li>
        {% embed '/templates/components/trabalho-card.html.twig' with {
            'videoSrc': 'construct-2-top-down-shooter.mp4',
            'title': 'Topdown Zombie Wave Survival 2d',
        } only %}
            {% block summary %}
                <p>Micro protótipo de um topdown shooter 2d onde o jogador deve fugir de uma floresta infestada de zumbis usando locais iluminados, como fogueiras, para se proteger.</p>
                <p>Jogo foi desenvolvido com Construct 2.</p>
            {% endblock %}
        {% endembed %}
    </li>

    <li>
        {% embed '/templates/components/trabalho-card.html.twig' with {
            'videoSrc': 'construct2-jogo-multiplayer.mp4',
            'title': 'Multiplayer Topdown shooter 2d',
        } only %}
            {% block summary %}
                <p>Me baseando no jogo modo Survival, comecei a estudar desenvolvimento de jogos multiplayer com um mini battle royale.</p>
                <p>Jogo foi desenvolvido com Construct 2.</p>
            {% endblock %}
        {% endembed %}
    </li>

    <li>
        {% embed '/templates/components/trabalho-card.html.twig' with {
            'videoSrc': 'construct2-jogo-tower-defense.mp4',
            'title': '2d Tower Defense',
        } only %}
            {% block summary %}
                <p>Protótipo de um jogo estilo Tower Defense em 2d com upgrade das torres e uma loja.</p>
                <p>Jogo foi desenvolvido com Construct 2.</p>
            {% endblock %}
        {% endembed %}
    </li>
</ul>