{% extends 'templates/base.twig' %}

{% block title %}Desenvolvedor de Software Diego Matos{% endblock %}
{% block description %}Página principal do desenvolvedor Diego Matos, conheça um pouco sobre ele, entre em contato, baixe seu curriculum ou olhe o código desse site em sua página do GitHub.{% endblock %}

{% block content %}
    <h1>Teste 1</h1>
{% endblock %}

{% block footer %}

{% endblock %}
