<section class="bg-[#00AFEF]">
    <div class="container mx-auto relative flex justify-center items-center">
        <picture class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 opacity-30 sm:relative sm:top-0 sm:left-0 sm:-translate-x-0 sm:-translate-y-0 sm:opacity-100">
            <source srcSet="/assets/marca/logo-monocromatica-branca-300x300.webp" />
            <img style="max-width: 300px" class="w-full" src="/assets/marca/logo-monocromatica-branca-300x300.png" title="Marca Desenvolvedor Diego Matos" alt="Marca Desenvolvedor Diego Matos" />
        </picture>
        
        <header style="max-width: 450px" class="relative text-white space-y-4 p-4 md:p-0">
            <h1 class="text-5xl mr-0"><strong>Prazer, eu sou Diego</strong></h1>
            <p>Bacharelando em Ciência da Computação na Universidade Federal do Rio de Janeiro, minhas áreas de interesse são Desenvolvimento de Software e Computação Gráfica. Atualmente trabalho com desenvolvimento de sites, aplicativos e jogos.</p>
        </header>
    </div>
</section>
