<footer class='bg-[#00AFEF] text-white sm:hidden'>
    <div class="container mx-auto p-4 ">
        <a href="{{ env.APP_URL }}">
            <img
                style="max-width: 450px;"
                src="/assets/marca/logo-horizontal-monocromatica-450x450.png"
                title="Marca horizontal Desenvolvedor Diego Matos"
                alt="Marca horizontal Desenvolvedor Diego Matos"
                class='mx-auto w-full'
            />
        </a>
        <ul class='w-full flex flex-wrap gap-4 justify-center items-center'>
            <li>
                <a href="https://github.com/diegomatos321" target="_blank">
                    <div style="width: 2rem;">{{ include('templates/icons/fa-github.svg') }}</div>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/dev-diego-matos/" target="_blank">
                    <div style="width: 2rem;">{{ include('templates/icons/fa-linkedin.svg') }}</div>
                </a>
            </li>
        </ul>
    </div>
</footer>