<section>
    <div class="container mx-auto px-4 py-8 space-y-4">
        <header class="hidden">
            <h2 class="text-4xl"><strong>Meus projetos</strong></h2>
        </header>

        <ul class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4">
            <li>
                {% embed '/templates/trabalho-card.html.twig' with {
                    'videoSrc': '/assets/videos/demonstracao-implementacao-telas-finais.mp4',
                    'title': 'Prepara Vestibular',
                    'backgroundImg': '/assets/imagens/Prepara Vestibular - Assinatura Principal - Fundo Transparente_300_130',
                    'backgroundImgAlt': 'Marca do Prepara Vestibular'
                } only %}
                    {% block content %}
                        <p>Plataforma gratuita de resolução de questões e simulados para o vestibular. <a class="underline text-blue-600" href="https://www.preparavestibular.com.br">Acesse já!</a></p>
                    {% endblock %}

                    {% block status %}<span class="text-green-600">Em produção.</span>{% endblock %}
                    {% block tempo %}Jan/2023 - Atual{% endblock %}
                {% endembed %}
            </li>

            <li>
                {% embed '/templates/trabalho-card.html.twig' with {
                    'videoSrc': '/assets/videos/demonstracao-implementacao-telas-finais.mp4',
                    'title': 'Cuidado e Afeto',
                    'backgroundImg': '/assets/imagens/logo-cuidado-e-afeto_300_224',
                    'backgroundImgAlt': 'Marca do Cuidado e Afeto'
                } only %}
                    {% block content %}
                        <p>Plataforma de Cuidadores Pessoais no Rio de Janeiro.</p>
                    {% endblock %}

                    {% block status %} <span class="text-green-600">Entregue</span> (descontinuado pelo cliente).{% endblock %}
                    {% block tempo %}Jan/2022 - Jun/2022{% endblock %}
                {% endembed %}
            </li>

            <li>
                {% embed '/templates/trabalho-card.html.twig' with {
                    'videoSrc': '/assets/videos/demonstracao-minijogos-educativos.mp4',
                    'title': 'Minijogos Educativos',
                    'backgroundImg': '/assets/imagens/minijogos-imagem-principal_300_169',
                    'backgroundImgAlt': 'Minijogos Educativos imagem principal.'
                } only %}
                    {% block content %}
                        <p>Coletânea de minijogos encomendados por uma escola. <a class="underline text-blue-600" href="">Acessa já!</a></p>
                    {% endblock %}

                    {% block status %}<span class="text-green-600">Entregue.</span>{% endblock %}
                    {% block tempo %}Mar/2022 - Mai/2022{% endblock %}
                {% endembed %}
            </li>

            <li>
                {% embed '/templates/trabalho-card.html.twig' with {
                    'videoSrc': '/assets/videos/demonstracao-implementacao-telas-finais.mp4',
                    'title': 'LandingPage para o EstudioZ',
                    'backgroundImg': '/assets/imagens/landing-page-estudio-z',
                    'backgroundImgAlt': 'Marca do EstudioZ.'
                } only %}
                    {% block content %}
                        <p>Landing page para estudio Artístico do Rio de Janeiro. <a class="underline text-blue-600" href="https://www.estudioz.art.br/">Acessa já!</a></p>
                    {% endblock %}

                    {% block status %}<span class="text-green-600">Entregue.</span>{% endblock %}
                    {% block tempo %}Set/2022{% endblock %}
                {% endembed %}
            </li>
        </ul>

        <div class="text-right">
            <p>Acesse minha <a href="https://diegomatos321.github.io/Projetos/" target="_blank" class="underline">página no Github</a> para ver projetos menores que foram usados para estudo e não estão em produção</p>
        </div>
    </div>
</section>