/* Footer */

.footer{
    background-color:var(--corFundoCabecalho);
    color: var(--corSecundarioTexto);
    border-top: 1.3px solid var(--corDaBorda);
    justify-content: center;
    align-content: center;
    padding-bottom: 12vh;
}

@media only screen and (min-width: 768px) {
    .footer {
        padding-bottom: 1rem;
    }
}