@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DINPro;
    src: url("/assets/font/FontsFree-Net-DINPro-1.ttf") format('truetype');
}

@font-face {
    font-family: Speeday;
    src: url("/assets/font/Speeday-Regular-FFP.ttf") format('truetype');
}


body {
    font-family: DINPro;
}