<div class="h-full shadow-lg flex flex-col justify-between">
    <div>
        <h3 class="text-2xl"><strong>{{ title }}</strong></h3>

        <video-js
                class="video-js"
                controls
                width="1024"
                height="576"
                data-setup='{"aspectRatio": "16:9"}'
        >
            <source src="{{ videoSrc }}" type="video/mp4" />

            <p class="vjs-no-js">Para assistir este vídeo ative o Javascript e considere usar um navegador mais moderno.</p>
        </video-js>
    </div>

    <div class="px-4 py-4 text-justify">
        {% block content %}{% endblock %}
    </div>

    <div class="px-4 pb-4 flex flex-wrap gap-4">
        <p>Status: {% block status %}{% endblock %}</p>
        <p>Tempo: {% block tempo %}{% endblock %}</p>
    </div>
</div>
